:root{
    --primary: hwb(14 18% 3%);
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}


* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Event form */
#event-description {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/a-tendencia-e-ser-figital-min.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#disclaimer h2,
#disclaimer .event-date{
    color: var(--primary);
}

#disclaimer h2, {
    font-size:3em;
    margin-bottom: 1em;
}

#disclaimer .about-event {
    font-size: 2em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

#disclaimer p {
    font-size: 1.2em;
    margin-bottom: .3em;
}

#disclaimer .event-date {
    font-weight: bold;
}

#subscription-form {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 22%;
}

#subscription-form p {
    font-size: 1,5em;
    color: var(--secondary);
    margin-bottom: 1em;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group lebel {
    color: var(--text-tertiary);
    margin-bottom: 3em;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
    color: var(--text-color);
    font-weight: bold;
}